*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SpotifyMixUI,CircularSp,Helvetica,Arial,sans-serif;

    
}
#a1{
    border: 2px solid;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    /* font-weight: bolder; */
   

}
#a1 div{
    /* border: 2px solid red; */
    height: 60px;
    width: 22%;
    display: flex;
    justify-items: center;
    align-items: center;

}
#a1 div>section{
    /* border: 2px solid; */
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    
    
}
#a1 i{
    font-size: 23px;
}
nav #a1{
    border: 2px solid;
}
#a2{
    /* border: 2px solid blue; */
    background-color: white;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* justify-items: flex-end; */
    position:sticky;
    top: 0;

    
}
#a2 div{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-items: flex-end;

}
#a2 div+div{
    display: flex;
    justify-content: flex-start;
    /* width: 80%; */
    flex-direction: row;
}
#a2 ol{
    /* border: 2px solid green; */
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    /* width: 80%; */
    font-size: 15px;
    align-items: center;
    font-weight: 600;
    gap:30px;
    
}
#a2 ol>li:hover{
    cursor: pointer;
    background-color: #EA7C26;
}
#a2 button{
   height: 50px;
   border-radius: 5px;
   width: 150px;
   font-size: 15px;
   font-weight: 600;
   background-color: #EA7C26;
}
#a2 button:hover{
    cursor: pointer;
    background-color: midnightblue;
}

main{
    border: 2px solid red;
    height: 650px;
    background: url(./Assests/fascia-installation-ny.webp) center 15%/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
main div{
    /* border: 2px solid blue; */
    height: 410px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
main h1{
    font-size: 60px;
    letter-spacing: -2px;
    text-align: center;
    color: white;
}
.d1{
    color: grey;
}
main p{
    height: 80px;
    width: 50%;
    /* text-indent: 20px; */
    text-align: center;
    color: white;
}
main button{
    height: 60px;
    width: 18%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #EA7C26;
}
main button:hover{
    cursor: pointer;
    background-color: midnightblue;
}

#d1{
    /* border: 2px solid; */
    height:340px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: -90px;
   position: relative;
   /* z-index: 5; */
  padding-left: 150px;


}
#d1 div{
    border: 4px solid #ea7c26;
    height: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
    color:black;
}
#d1 h2{
    font-weight: 300;
    text-align: center;
    letter-spacing: -2px;
}
#d1 img{
    height: 60px;
    width: 60px;
    align-self: center;
}
#d1 p{
    width: 75%;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    color: grey;
 
}
#sec2{
    /* border: 2px solid blue; */
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 140px;
}
#sec2 div{
    /* border: 2px solid; */
    height: 700px;    
}
#sec2 h1{
    font-size: 45px;
    font-size: 700;
    letter-spacing: -2px;
    margin-bottom: 20px;
}
#sec2 p{
    color: #555;
    line-height: 1.3;
    text-align: left;
}
#sec2 div:last-child img{
    height: 700px;
    width: 800px;
    padding-right:140px;
}
#sec3{
    /* border: 2px solid green; */
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    background-color: white;

    

}
#sec3 h1{
    font-size: 48px;
    font-weight: 600;
}

#sec3 aside{
    height: 500px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;


}
.sec3_cards{
    border: 2px solid gainsboro;
    height: 550px;
    width: 350px;
    display: flex;
    flex-direction: column;
    
}
#sec3 div>img{
    /* border: 2px solid yellow; */
    height: 260px;
    width: 340px;
    border-radius: 2%;

    /* opacity: 0.5; */
    filter: grayscale(100%);
    display: block;
}
#sec3 img:hover{
    transform:scale(1.08);
    transition-duration: 0.5s;
    height: 260px;
    width: 340px;
    filter: grayscale(0%);
}

#sec3 div>h2{
    /* border: 2px solid; */
    text-align: center;
    font-weight: 300;
    color: #3f444B;
}
#sec3 p{
    /* border: 2px solid; */
    height: 150px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    background-color: white;
    color: #3f444B;
}
#sec3 button{
    /* border: 2px solid green; */
    height: 40px;
    width: 150px;
    background-color: #EA7C26;
    color: white;
    border-radius: 5px;
    align-self: center;
       

}
#sec3 button:hover{
    cursor: pointer;
    background-color: midnightblue;
}
#sec4{
    /* border: 2px solid crimson; */
    height: 450px;
     background-image: url(https://brianscorp.com/wp-content/uploads/2025/01/0aadjgqvlw8-e1735390541410.webp);
    --background-overlay: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
      /* padding: 30px 0; */
    
}
#sec4 div{
    height: 410px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  

}
#sec4 h3{
    /* border: 2px solid; */
    font-weight: 400;
    color: white;
    font-size: 15px;


}
#sec4 h1{
    /* border: 2px solid; */
    font-size: 50px;
    letter-spacing: -2px;
    text-align: center;
    color: white;
    
}
#sec4 p{
    /* border: 2px solid orange; */
    height: 100px;
    text-align: center;
    font-size:17px;
    font-weight:400 ;
    width: 55%;
    color: white;
    line-height: 22px;
}
#sec5{
    /* border: 2px solid; */
    height: 400px;
    margin-top: -90px;
   position: relative;
  padding-left: 150px;
  padding-right: 150px;

}
#sec5 aside{
    /* border:2px solid green ; */
    height: 300px;
    width: 100%;
    display: flex;
    height: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;


}
#sec5 div{
    border: 3px solid #EA7C26;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 25%;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;

}
#sec5 img{
    height: 55px;
    width: 55px;
    /* background-color: white; */
}
#sec5 h3{
   text-align: center;
   font-size: 18px;
   /* letter-spacing: -1px; */
}
#sec5 p{
    text-align: center;
    font-weight: 500;
    color:#555;
    line-height: 25px;
}
#sec6{
    /* border: 2px solid; */
    height: 1200px;
}
#sec6 aside{
    /* border: 2px solid red; */
    height: 1000px;
    display:grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 10px;
    grid-template-rows: 400px 400px 400px;
    row-gap: 80px;
    justify-content: center;
     
}
#sec6 aside>img{
    /* border: 2px solid yellow; */
    height: 450px;
    width: 380px;
   
}
#sec6 h3{
    /* border: 2px solid; */
    text-align: center;
    color: #EA7C26;
    font-size: 15px;
    font-weight: 300;
}
#sec6 h1{
    /* border: 2px solid blue; */
    font-size: 45px;
    text-align: center;
    letter-spacing: -2px;
    font-weight: 700;
}
#sec7{
    border: 2px solid;
    height: 1200px;
    display: flex;
    flex-direction: column;
}
.s7{
    /* border: 2px solid red; */
    height: 800px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.s7 div{
    /* border: 2px solid green; */
    height: 90px;
    width: 80%;
    display: flex;
    
    
}
#sec7 h1{
    text-indent:200px;
    font-size: 48px;
    letter-spacing: -2px;

}
.s77{
    /* border: 2px solid blueviolet; */
    height: 350px;
    width: 25%;
    margin-top: -870px;
    margin-left: 1000px;
    background-image: url(https://brianscorp.com/wp-content/uploads/2024/12/bg_footer.png);
    --background-overlay: '';
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #0e1621;
}
.s777{
    border: 2px solid hotpink;
    height: 700px;
    width: 25%;
    margin-left: 1000px;
}
.s7 summary{
    /* border: 2px solid; */
    display: flex;
    width: 720px;
    height: 90px;
    justify-content: start;
    text-indent: 20px;
    font-weight: 700;
    font-size: 18px;
    

}
/* .s7 input{
    display: none;
}
.forquestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #000;

}
.foranswer{
    display: none;
    padding: 15px 20px;
    color: #555;
}

.s7 input:checked + .forquestion{
    background-color: #f7931e;
    color: #fff;
    
} */
.s7 summary:hover{
    cursor: pointer;
    background-color: aliceblue;
    
    
    

}
.s7 p{
    text-indent: 20px;
    text-align: left;
    line-height: 22px;
    color: #555;
    background-color: #EA7C26;


}
.s7 article{
 display: flex;
 justify-content: center;
 align-items: center;
    width: 60%;
    display: flex;
    justify-content: space-between;

    
}
.s7 article+article{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.s77 div{
    border: 2px solid burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.s77 div>img{
    height: 50px;
    width: 50px;
   color: white;
}
.s77 h3{
    font-size: 16px;
    font-weight: 300;
    color:#3f444B;
}
.s77 p{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: white;

}
.s77 button{
    /* border: 2px solid white; */
    height: 40px;
    width: 180px;
    background-color: #EA7C26;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}
.s77 button:hover{
    cursor: pointer;
    background-color: #0e1621;
}
